.Login {
  padding: 5px;
  margin: 20px;
}

.dashboard{
  padding: 5px;
  margin: 20px;
  text-align: center;
}

input{
  padding: 10px;
  width: 400px;
}

button{
  padding: 10px;
  width: 100px;
  margin-top: 5px;
  font-weight: bold;
}

.App {
  text-align: center;
  font-weight: bold;
}

.error{
  margin-top: 20px;
}


